.center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 460px;
  padding: 24px;
}

.accountLabel {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  gap: var(--mantine-spacing-sm);
}
